.main {
  text-align: center;
  padding: 0 5px 0 5px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.inner {
  border: 1px solid #FFFFFF;
}

@media only screen and (min-width: 600px) {
  .main {
    width: 800px;
  }

  .inner {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    width: 1064px;
  }

  .inner {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    width: 1320px;
  }

  .inner {
    width: 40px;
    height: 40px;
  }
}

.inner:hover {
  transform: scale(2);
}