body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}

.inner {
  border: 1px solid #FFFFFF;
}

.inner:hover {
  transform: scale(2);
}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

@media only screen and (min-width: 400px) {
  .main {
    width: 580px;
  }

  .inner {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 600px) {
  .main {
    width: 840px;
  }

  .inner {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    width: 1100px;
  }

  .inner {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    width: 1350px;
  }

  .inner {
    width: 40px;
    height: 40px;
  }
}